---
import Layout from '../../layouts/Layout.astro';

/*
// Sin servidor, es decir, con paginas estaticas.
import { getLatestLaunches, getLaunchBy } from "../../services/spacex"

const { id } = Astro.params

let launch

if (id) {
    launch = await getLaunchBy ({ id })
}

export async function getStaticPaths() {
    //

    const launches = await getLatestLaunches()

    return launches.map(launch => ({
        params: { id: launch.id }
    }))
}
*/

// Con servidor
import { getLaunchBy } from "../../services/spacex"

const { id } = Astro.params

let launch

if (id) {
    launch = await getLaunchBy ({ id })
}

---
<Layout title=`Launches ${id}`>
    <article class="flex gap-y-4 flex-col">
        <img
            class="w-52 h-auto"
            src={launch?.links?.patch.small}
            alt={launch?.name}
        />
        <h2 class="text-4xl text-white font-bold">Launch #{launch?.flight_number}</h2>
        <p class="text-lg">{launch?.details}</p>
    </article>
</Layout>
